[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "public/meshviewer"]
	path = public/meshviewer
	url = https://github.com/ideesculture/meshviewer.git
