[submodule "public/meshviewer"]
	path = public/meshviewer
	url = https://github.com/ideesculture/meshviewer.git
[submodule "themes/uBlogger"]
	path = themes/uBlogger
	url = https://github.com/upagge/uBlogger.git
